$c-black: #000;
$c-green: #0b3b3c;
$c-green_light: #00b67a;
$c-blue: #33f;
$c-burgundy: #7e0707;
$c-white: #ffffff;
$c-gray: #e8efe9;

$f-main: "TT Norms", sans-serif;
$f-headers: "TT Norms", sans-serif;

$z-fixed: 201;
$z-header: 200;
$z-popup: 199;
$z-mobile-nav: 198;
$z-sticky: 99;
