section.consultation 
    .consultation_description 
        h3 Meet our medical team
        p
            | Enabling the mission of revolutionising how men approach health, they are at the core of the men&rsquo;s wellness platform.
            span  Meet our team.

    .consultation_medical 
        .medical_card 
            img(src="assets/images/consultation/chaudry.png", alt="Earim Chaudry, MD")
            p Earim Chaudry, MD
            span Medical Director
        .medical_card 
            img(src="assets/images/consultation/bendow.png", alt="Ryan Benbow")
            p Ryan Benbow
            span Pharmacist, Ind. Prescriber
        .medical_card 
            img(src="assets/images/consultation/ganhi.png", alt="Soheb Ganchi")
            p Soheb Ganchi
            span Pharmacist, Ind. Prescriber
    .consultation_call 
        hr
        .call_tel
            .call 
                a(href="tel:+020 8004 7160") 
                    img(src="assets/images/consultation/call.png", alt="call")
                .call_column
                    p Get a free consultation
                    span Speak with one of our clinicians and get personalised advice. Monday to Friday 9am-4:30pm
            .btn_consultation 
                button(type="submit") Book Consultation

