section.effective 
    .effective_wrap
        p Our medical team work round the clock to bring you the most effective treatments available in the UK
        span Dr. Earim Chaudry, Medical Director
        img(src="assets/images/effective/director.png", alt="director")
    .effective_reiting 
        img(src="assets/images/effective/trustpilot.png", alt="trustpilot")
        img(src="assets/images/effective/reiting.png", alt="reiting")
    span Based on 1169 reviews
    .bxslider 
        div 
            img(src="assets/images/effective/stars.png",alt="stars")
            p Great product love the smell and the feeling.
            span Simon
        div
            img(src="assets/images/effective/stars.png",alt="stars")
            p Quick and discreet and saved me a trip to the GP.
            span Zander
        div
            img(src="assets/images/effective/stars.png",alt="stars")
            p Great product, restores confidence and performance!
            span Francis