header
    .nav 
        .nav_left
            a(href="#") Shop
            a(href="#") Read
            a(href="tel:+020 8004 7160") 020 8004 7160
        img.item_1(src="assets/images/header/logo.png", alt="manual logo")
        .nav_right
            a(href="#") About
            a(href="#") Login
            img.item_2(src="assets/images/header/basket.png", alt="basket")
        