section.hero
    .hero_wrapper 
            .wrapper_item 
                img(src="assets/images/main/med.png", alt="UK licenced medication")
                span  UK licenced medication
            .wrapper_item 
                img(src="assets/images/main/deleveri.png", alt="Free, discreet delivery")
                span  Free, discreet delivery
            .wrapper_item 
                img(src="assets/images/main/cancel.png", alt="Cancel any time")
                span  Cancel any time
            .wrapper_item
                img(src="assets/images/main/clinic.png", alt="Ongoing clinician support")
                span  Ongoing clinician support