section.hero
    .hero_wrapper 
            .wrapper_item 
                img(src="assets/images/hero/med.png", alt="UK licenced medication")
                span  UK licenced medication
            .wrapper_item 
                img(src="assets/images/hero/deleveri.png", alt="Free, discreet delivery")
                span  Free, discreet delivery
            .wrapper_item 
                img(src="assets/images/hero/cancel.png", alt="Cancel any time")
                span  Cancel any time
            .wrapper_item
                img(src="assets/images/hero/clinic.png", alt="Ongoing clinician support")
                span  Ongoing clinician support
    .hero_wrapper_2
        .hero_wrapper_bottom 
            h1 Healthcare. Made easy.
            img(src="assets/images/hero/reiting.png", alt="reiting")
            p
                | Rated excellent 
                span on Trustpilot
        .hero_wrapper_list 
            .wrapper_list 
                img(src="assets/images/hero/men.png", alt="Treatments online")
                h3 Treatments online
                p We’ll ask you a couple of quick medical questions. Tick the boxes and a clinician will review your answers and issue you a prescription.
            .wrapper_list 
                img(src="assets/images/hero/freeDeleveri.png", alt="freeDeleveri")
                h3 Free fast delivery
                p Your selected treatments will be delivered for free in discreet packaging. There’ll be some helpful info included to make sure you get the best out of it.
            .wrapper_list 
                img(src="assets/images/hero/clinicSupport.png", alt="Clinician support")
                h3 Clinician support
                p Chat with a medical expert whenever you need. On the phone or via email. With support throughout your treatment.
        

