section.main
    .main_wrap
        h1 Men’s health. The way it should be.
        p No waiting rooms or awkward conversations. Just clinically proven treatments direct to your door with support along the way.
        button.btn_1 Get Started
        button.btn_2 View Treatments
    


