section.medical
    .medical.container 
        .medical_left 
            h1 Manual Wellbeing
            p Our new offering is a holistic plan to improve your health with recommendations from medical experts, as well as tracking and ongoing clinician support.
            button VIEW MORE
            .medical_left_plan 
                span Online consultation
                span Personalised health plan
                span Tracking & Clinician support
        .medical_right 
            .medical_items 
                .medical_card 
                    img(src="assets/images/medical/hair.png", alt="hair")
                    span Hair 
                .medical_card 
                    img(src="assets/images/medical/immunity.png", alt="immunity")
                    span Immunity 
                .medical_card 
                    img(src="assets/images/medical/sleep.png", alt="sleep")
                    span Sleep
            .medical_items 
                .medical_card 
                    img(src="assets/images/medical/sex.png", alt="sex")
                    span Sex  
                .medical_card 
                    img(src="assets/images/medical/brain.png", alt="brain")
                    span Brain
                .medical_card 
                    img(src="assets/images/medical/digestion.png", alt="digestion")
                    span Digestion
            .medical_items 
                .medical_card 
                    img(src="assets/images/medical/heart.png", alt="heart")
                    span Heart 
                .medical_card 
                    img(src="assets/images/medical/muscles.png", alt="muscles")
                    span Muscles
                .medical_card 
                    img(src="assets/images/medical/skin.png", alt="skin")
                    span Skin
                