section.products 
    h1 The most effective treatments. Backed by science.
    .products_cards_top
        .products_cards 
            .products_cards_1
                .products_list_1
                    img(src="assets/images/products/hairLoss.png", alt="hairLoss")
                    h3 Hair Loss
                    p Now hair loss is treatable. There are clinically proven treatments effective in 9/10 men. And we have them all here.
                    button  View Treatments
                .products_list_2
                    img(src="assets/images/products/sexHealth.png", alt="sexHealth")
                    h3 Sex health
                    p Erectile dysfunction (ED) happens to a lot of us. We can help you figure out why. And offer a number of treatments that can help too.
                    button  View Treatments
    .products_cards_bottom              
            .products_cards_2
                .products_list_1
                    img(src="assets/images/products/skin.png", alt="skin")
                    h3 Skin
                    p Healthy skin is key to keep you feeling and looking your best. We’ve harnessed the best science has to offer so you can look after yours.
                    button  View Treatments
                .products_list_2
                    img(src="assets/images/products/dailyHealth.png", alt="dailyHealth")
                    h3 Daily Health
                    p Help your body fight the good fight with our scientifically proven range of nutrients and vitamins. Making healthier easier, every day.
                    button  View Treatments
                    